:root {
  --primary: #ee6c2b;
  --brand-olive: #556b2f;
  --brand-cream: #fdfcf8;
  --stone-900: #0C0A09;
  --slate-900: #0f172a;
  --slate-700: #334155;
  --slate-600: #475569;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --stone-300: #d6d3d1;
  --stone-200: #e7e5e4;
  --font-main: 'Plus Jakarta Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--brand-cream);
  min-height: 100vh;
  overflow-x: hidden; /* Para que no aparezca la scroll-bar */
  display: flex;
}

#pantalla-izquierda, #pantalla-derecha {
  width: 50%;
}

/* Todo el contenido de la izquierda */
#pantalla-izquierda {
  background: linear-gradient(to top right, var(--brand-olive), transparent), var(--stone-900);
  color: var(--brand-cream);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}

#icono-nombre {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#icono-panal {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fdfcf81a;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
}

#icono-nombre h3 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#titulo-texto {
  display: flex;
  flex-direction: column;
}

#titulo-texto h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0.8rem;
}

#titulo-texto p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.625;
  opacity: 0.8;
}

#copyright h4 {
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.4;
}

/* Todo el contenido de la derecha */
#pantalla-derecha {
  background-color: var(--brand-cream);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}