{% extends "base.html" %}
{% load static %}

{% block nombre-pestaña %}
  <title> Deudores </title>
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'deudores.css' %}">
{% endblock %}

{% block cabecera %}
  <div id="titulos-cabecera">
    <h2> Deudores </h2>
    <p> Gestione y controle los saldos pendientes de cobro </p>
  </div>
{% endblock %}

{% block area-trabajo %}
  <!-- ÁREA DE TRABAJO -->
  <section id="area-trabajo">

    <!-- Controles Superiores: Buscador -->
    <div class="barra-herramientas">
      <div class="grupo-busqueda">
        <div class="contenedor-input-busqueda">
          <span class="material-symbols-outlined icono-busqueda">search</span>
          <input type="text" class="input-busqueda" placeholder="Buscar deudores por nombre o ID">
        </div>
      </div>
    </div>

    <div class="contenedor-tabla">
      <table class="tabla-deudores">
        <thead>
          <tr id="encabezado-tabla-deudores">
            <th> ID </th>
            <th> Nombre </th>
            <th> Fecha </th>
            <th> Pesos </th>
            <th> USD/Hist </th>
            <th> USD/Hoy </th>
            <th> Kg Miel/Hist </th>
            <th> Kg Miel/Hoy </th>
          </tr>
        </thead>
        <tbody>
          {% for deudor in deudores %}
            <tr>
              <td><div class="deudor-id"> {{ deudor.id }} </div></td>
              <td><div class="deudor-nombre"> {{ deudor.cliente }} </div></td>
              <td> {{ deudor.fecha|date:"d/m/Y" }} </td>
              <td class="valor-pesos"> $ {{ deudor.monto_total }} </td>
              <td class="valor-usd"> {{ deudor.valor_dolar }} </td>
              <td class="valor-usd"> - </td>
              <td class="valor-miel"> {{ deudor.valor_kilo_miel }} </td>
              <td class="valor-miel"> - </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="8" style="text-align: center;"> No hay deudores registrados. </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <!-- Paginación -->
      <div class="paginacion">
        <div class="paginacion-info">
          Mostrando <span>1-5</span> de <span>0</span> deudores
        </div>
        <div class="paginacion-botones">
          <button class="boton-paginacion" disabled>Anterior</button>
          <button class="boton-paginacion" disabled>Siguiente</button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}