{% extends "base.html" %}
{% load static %}

{% block nombre-pestaña %}
<title> Inicio </title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'inicio.css' %}">
<link rel="icon" type="image/svg+xml" href="../static/hive.svg">
{% endblock %}

{% block cabecera %}
<div id="titulos-cabecera">
  <h2> Bienvenido al sistema </h2>
  <p> Selecciona una opción en el menú lateral para comenzar a operar </p>
</div>
{% endblock %}

{% block area-trabajo %}
  <!-- Área de Trabajo -->
  <section id="area-trabajo">
    <div class="tarjeta-info">
      <h3>Bienvenido al sistema</h3>
      <p>Selecciona una opción en el menú lateral para comenzar a operar.</p>
    </div>
    <div id="contenedor-cotizaciones">

      <article class="tarjeta-info">
        <h3>Dolar oficial compra</h3>
        <p>$ {{oficial.compra}}</p>
      </article>

      <article class="tarjeta-info">
        <h3>Dolar oficial venta</h3>
        <p>$ {{oficial.venta}}</p>
      </article>

      <article class="tarjeta-info">
        <h3>Dolar blue compra</h3>
        <p>$ {{blue.compra}}</p>
      </article>

      <article class="tarjeta-info">
        <h3>Dolar blue venta</h3>
        <p>$ {{blue.venta}}</p>
      </article>

    </div>
  </section>
{% endblock %}