{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title> Login </title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="icon" type="image/svg+xml" href="../static/hive.svg">

    <!-- Nota: La fuente "Material+Symbols de google, es una fuente de solo iconos", 
    desde ahi descargo los simbolos que uso en la pagina como el de panal, persona o clave -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
  </head>

  <body>
    <div id="pantalla-izquierda">
      <div id="icono-nombre"> 
        <span class="material-symbols-outlined" id="icono-panal">hive</span>
        <h3> Southern Honey Group </h3> 
      </div>

      <div id="titulo-texto"> 
        <h1> Staff portal </h1>
        <p> Herramienta de acceso interno, control de stock, clientes y facturacion </p>
      </div>

      <div id="copyright"> 
        <h4> © Southern Honey Group. Todos los derechos reservados. </h4>
      </div>
    </div>

    <div id="pantalla-derecha">
      <div id="contenedor-formulario">
        <div id="encabezado-formulario">
          <h2> Ingreso del personal </h2>
          <p> Ingresa tus credenciales para acceder a la herramienta. </p>
        </div>

        <form id="formulario-login">
          <div class="grupo-input">
            <label for="usuario"> Usuario </label>
            <div class="contenedor-input">
              <span class="material-symbols-outlined icono-input">person</span>
              <input type="text" id="usuario" placeholder="Usuario" required/>
            </div>
          </div>

          <div class="grupo-input">
            <label for="password"> Contraseña </label>
            <div class="contenedor-input">
              <span class="material-symbols-outlined icono-input">lock</span>
              <input type="password" id="password" placeholder="••••••••" required/>
            </div>
          </div>

          <button type="submit" id="boton-ingreso"> Iniciar Sesión </button>
        </form>

        <div id="pie-formulario">
          <span class="material-symbols-outlined">verified_user</span>
          <p> Solo acceso autorizado. </p>
        </div>
      </div>
    </div>
  </body>
</html>